@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
  color : black;
}
.wrapper{
  display: flex;
  position: relative;
}



.wrapper .main_content{
  width: 200%;
  margin-left: 5px;
 
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}
          
          
          
          
          
          th,td{
                padding: 2px;
            }
            th{
                
                width: 2px;
            }
            td{
                text-align: center;
               
            }
        

          input[type="submit"]{
               width: 75px;
            }
