@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body{
    padding: 100px;
    text-align: center;
}

.result_text{
    font-size: 46px;
}

.result_percent{
    font-family: 'KOTRA_BOLD-Bold';
    font-size: 46px;
    color: darkred;
}

.statement_text{
    margin: 10px;
}

span{
    color: red;
}

.ox{
    color: blue;
}

table{
    margin: auto;
}

.button button{
    font-family: 'KOTRA_BOLD-Bold';
    background-color: #333;
    border: none;
    color:#fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px;
}

.check{
    color: #343e40;
    font-size: 13px;
}
