html{
    text-align: center;
}

.main_button{
    text-decoration: none;
    color: black;
}

h1{
    margin: 50px;
}

div{
    margin: 20px;
}

input{
    border: 1px solid;
    border-radius: 2px;
}

.submit{
    width: 260px;
}
