@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul{
    font-family: 'KOTRA_BOLD-Bold';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.container{
    text-align: center;
}

table{
    margin: auto;
}

.input{
    margin: 5px;
}

input{
    border: 0px;
    text-align: center;
}

form{
    margin: 20px;
}

h4{
  font-family: 'KOTRA_BOLD-Bold';
}

.th{
  font-family: 'KOTRA_BOLD-Bold';
}

.test_probability{
  color: #00498c;
}
