ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.container{
    text-align: center;
}

table{
    margin: auto;
}

.input{
    margin: 5px;
}

input{
    border: 0px;
    text-align: center;
}

form{
    margin: 20px;
}
