{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = 'UTF-8'>
    <title>LOGIN</title>
  <link rel="stylesheet" href="{% static 'style/login.css' %}" type="text/css"/>
</head>
<body>
  <h1><a class="main_button" href="{% url 'main' %}">GEPETTO</a></h1>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </ul>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <input class="submit" type="submit" value="입장"/>
    </div>
    <br>
    아직 회원이 아니신가요? <a href="{% url 'signup' %}">회원가입</a>
  </form>
</body>
</html>
