{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = 'UTF-8'>
    <title>LOGIN</title>
  <link rel="stylesheet" href="{% static 'style/login.css' %}" type="text/css"/>
</head>
<body>
  <h1><a class="main_button" href="{% url 'main' %}">GEPETTO</a></h1>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
  </ul>
{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <div>
      <label for="nickname">닉네임</label>
      <input type="text" name="nickname"  placeholder="닉네임을 입력하세요"/>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" name="password" placeholder="비밀번호를 입력하세요"/>
    </div> -->
    <div>
      <input class="submit" type="submit" value="입장"/>
    </div>
    <br>
    아직 회원이 아니신가요? <a href="{% url 'signup' %}">회원가입</a>
    <!-- <input type="button" value="ID/PW 찾기"/>       -->
  </form>
</body>
</html>
