{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = 'UTF-8'>
    <title>LOGIN</title>
  <link rel="stylesheet" href="{% static 'style/login.css' %}" type="text/css"/>
</head>
<body>
  <h1><a class="main_button" href="{% url 'main' %}">GEPETTO</a></h1>

  <form action="{% url 'input' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="nickname">닉네임</label>
      <input type="text" name="nickname" value="" placeholder="닉네임을 입력하세요"/>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" name="password" value="" placeholder="비밀번호를 입력하세요"/>
    </div>
    <div>
      <input class="submit" type="submit" value="입장"/>
    </div>
    아직 회원이 아니신가요? <a href="{% url 'signup' %}">회원가입</a>
    <!-- <input type="button" value="ID/PW 찾기"/>       -->
  </form>
</body>
</html>
