{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/main.css' %}" type="text/css"/>
</head>
<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
  </ul>
  <div>
    GEPETTO는 사용자가 입력한 음성 진술 파일에서 정보를 추출하여,<br/>
    세 개의 질문을 생성하고 답을 응답받아 정답여부로 사용자의 거짓말 확률을 판별해주는 프로그램입니다.
  </div>
  <div>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'input' %}">
      {% csrf_token %}
      <input class="button" type='submit' value="탐지하러 가기">
    </form>
    {% else %}
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <input class="button" type='submit' value="탐지하러 가기">
    </form>
    {% endif %}
  </div>
  <footer>
    <div>만든이 : 서울여자대학교 정보보호학과 박지형, 송유리, 안유림, 홍승아</div>
  </footer>
</body>
</html>
