{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/main.css' %}" type="text/css"/>
</head>
<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
  </ul>
  <div>
    GEPETTO는 거짓말을 하면 말한 내용이 일치 하지 않는 것을 이용하여 진술을 받아 말한 사람이 진술을 기억하고 있는지 아닌지를 파악하는 프로그램입니다. 
  </div>
  <div>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <input class="button" type='submit' value="탐지하러 가기">
    </form>
  </div>
</body>
</html>
