{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/mypage.css' %}" type="text/css"/>
</head>
<body>
  <ul>
    <li style="float: left"><a>GEPETTO</a></li>
    <li><a href="#">Mypage</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
  <div class='container'>
    <form action=''>
      <div class='input'>
        <label for='nickname'>닉네임</label>
        <input type='text' name='nickname' value='닉네임 뭐로 하지' disabled>  
      </div>
      <div class='input'>
        <label for='id'>ID</label>
        <input type='text' name='id' value='id입니다.' disabled>  
      </div>
      <div class='input'>
        <label for='pw'>PW</label>
        <input type='password' name='pw' value='********' disabled>  
      </div>
      <input type='submit' value='수정하기'>
    </form>
    <hr/>
    <h4>
      내가 했던 테스트
    </h4>
    <table border='1'>
      <headr>
        <td>진술</td>
        <td>확률</td>
      </header>
      <tr>
        <td>저는 지난주 월요일 오후 1시에 집에서 가족과 티비를 봤습니다.</td>
        <td>67%</td>
      </tr>
    </table>
  </div>
</body>
</html>
