{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/mypage.css' %}" type="text/css"/>
</head>
<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'mypage' %}">Mypage</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
  </ul>
  <div class='container'>
    <form action=''>
      <div class='input'>

        <label for='nickname'>닉네임</label>
        <input type='text' name='nickname' value='{{user.nickname}}' disabled>  
      </div>
      <div class='input'>
        <label for='pw'>PW</label>
        <input type='password' name='pw' value='{{user.password}}' disabled>  
      </div>
      <input type='submit' value='수정하기'>
    </form>
    <hr/>
    <h4>
      내가 했던 테스트
    </h4>
    <table border='1'>
      <headr>
        <td>진술</td>
        <td>확률</td>
      </header>
      {% for test in user_test %}
      <tr>
        <td>{{test.text}}</td>
        <td>{{test.test_probability}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
