{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/signup.css' %}" type="text/css"/>
</head>
<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
  </ul>
<form>
  <label for="nickname">닉네임</label> <br>
  <input type="text" id="nickname"><br>
  <label>비밀번호</label> <br> <input type="password"> <br>
  <label>이름</label> <br> <input type="text"> <br>
  <label>이메일</label> <br><input type="email"> <br>
  <label>성별</label><br>
  <label for="male">남성</label>
  <input class="gender_input" type="radio" id="male" name="gender" value="male">
  <label for="female">여성</label>
  <input class="gender_input" type="radio" id="female" name="gender" value="female"><br>
  <label for="age">나이</label><br><input type="number" min = "1" max = "200"><br>
  <input type="submit" value="회원가입">
</form>
</body>
</html>
