{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/check.css' %}" type="text/css"/>
</head>
<body>
  <div>
    <h1> 확인 질문 </h1>
    "{{response}}" 가 맞습니까?
    <br>
    <br>
    <form method="POST" action="{% url 'question' %}">
      {% csrf_token %}
      <input type="submit" value="예"/>
    </form>
    <br>
    <button onclick="showForm()">수정하기</button>
    <div id="modify">
      <!-- <form method="POST" action="{% url 'question' %}">
        {% csrf_token %}
        <input type="text">
        <input type="submit" value="수정하기">
      </form> -->
    </div>
  </div>
  <script>
    function showForm(){
      document.getElementById("modify").style.display = "block";
    }
  </script>
</body>
</html>
