{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = 'UTF-8'>
  <title>INPUT</title>
  <link rel="stylesheet" href="{% static 'style/input.css' %}" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
    <li><a href="{% url 'mypage' %}">Mypage</a></li>
    <li><a href="#">Logout</a></li>
  </ul> 

  <h1>아래의 형식에 맞춘 음성 파일을 선택 해주세요.</h1>
 
  <h3> "저는 어제 오후 3시에 집에서 유리와 밥을 먹었습니다."</h3>

  <hr/>
  <form method="POST" action="{% url 'check' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input  type="file" name="statement">
    <input class='submit' type=submit name = "submit">
  </form>
</body>
</html>
