{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = 'UTF-8'>
  <title>INPUT</title>
  <link rel="stylesheet" href="{% static 'style/input.css' %}" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <ul>
    <li style="float: left"><a href="{% url 'main' %}">GEPETTO</a></li>
    <li><a href="{% url 'mypage' %}">Mypage</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  </ul> 
  <div>
    <h1>진술 음성 파일을 선택 해주세요.</h1>
  
    <h3>**누가, 언제, 어디서, 누구와, 무엇을 하였는지가 담겨있는 문장이여야 합니다. <br/>
        ex1) "저는 지난 주 금요일에 학교 도서관에서 혼자 공부를 했습니다." <br/>
        ex2) "저는 그저께 하루종일 과제를 했어요. 민지와 카페에서"
    </h3>

    <hr/>
    <form method="POST" action="{% url 'loading' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" name="statement">
      <input class='submit' type=submit name = "submit">
    </form>
  </div>
</body>
</html>
