{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GEPETTO</title>
  <link rel="stylesheet" href="{% static 'style/question.css' %}" type="text/css"/>
</head>
<body>

  <div>
    <h1>Question 1</h1>
    <p>
      영희는 10월 11일 수요일 오전 10시에 영수와 함께 도서관을 갔다.
      <form method="POST" action="{% url 'result' %}">
        {% csrf_token %}
        <input class='radioButton' type='radio' name='ox' value='O'/>O
        <input class='radioButton' type='radio' name='ox' value='X'/>X
        <input type='submit' value='다음'>
      </form>
    </p>
  </div>
</body>
</html>
